<%- include("templates/cabecera", {tituloWeb: 'pagina de inicio'}) %>



    <h1 class="text-primary">Titulo de mi sitio web index ejs</h1>
    <h2><%= titulo %></h2>
<%- include("templates/footer") %>
